@import url(picon/LCTPicon.css);
@import url(fira-code/fira_code.css);

@import url(highlight/styles/foundation.css);

$green: #46AF6D;

$max-width: 1400;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Picon', sans-serif;
    font-size: 1.25em;
}

h1 {
    font-weight: 700;
    font-size: 1.9em;
    margin: 40px;

    &.light {
        font-weight: 200;

        b {
            font-weight: 400;
        }
    }

    &.low {
        margin-top: 80px;
    }

    &.color {
        color: $green;
    }
}

a {
    text-decoration: none;
}

pre code {
    font-family: "Fira Code", monospace;
    font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
    text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
    font-size: 0.7em;
}

.hljs {
    background-color: white;
}

.transition {
    transition: all 0.3s;
}

div#strip {
    background: white;
    //max-width: 1040px;
    max-width: $max-width;
    min-height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 2px 0 gray;
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img.logo-img {
        display: block;
        height: 5.55em;
        width: 5.5em;
        padding-bottom: 1.88em;
    }

    h1 {
        font-weight: 700;
        font-size: 2.98em;
        margin: -20px 0 0;
        text-align: left;

        span {
            font-weight: 300;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    h2 {
        font-weight: 300;
        color: white;
        font-size: 1.38em;
        margin-top: -0.45em;
        text-align: left;
        padding-left: 2px;

        img {
            width: 0.65em;
            height: 0.65em;
        }
    }

}

div#header {
    height: 585px;
    background-color: $green;
    background-image: url('imgs/header-background.svg');
    background-size: 1040px;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: $max-width;
    top: 0;
    overflow: hidden;
    cursor: default;
    box-shadow: 0 0 3px 0 gray;
    clip-path: inset(0px 0px -5px 0);

    div#menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 28px;
        font-size: 0.7em;

        a {
            display: block;
            font-weight: 700;
            padding: 14px 15px;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.15s;

            &:hover {
                background-color: #FFFFFF44;
            }
        }
    }


    &.small {
        div.logo {
            margin: 50px 430px 0 0;

            img.logo-img {
                height: 1.7em;
                width: 2em;
                margin-top: -12px;
            }

            h1 {
                font-size: 1.8em;
            }

            h2 {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    #platforms {
        position: absolute;
        bottom: 3em;
        display: flex;
        flex-direction: row;

        h3 {
            font-weight: 600;
            background-color: #ededed;
            font-size: 0.6em;
            margin: 0.2em;
            width: 13em;
            border-radius: 0.5em;
            padding: 0.7em 0;
        }
    }
}

span#header-shadow {
    display: block;
    height: 620px;
}

p.description {
    font-weight: 300;
    margin: 20px 10px 60px 10px;
}

p.main-links {
    a {
        border: solid #EF822B 2px;
        display: inline-block;
        padding: 9px 22px 6px 22px;
        border-radius: 6px;
        color: #EF822B;
        margin: 0 10px;
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: #EF822B;
            color: white;
        }
    }
}

div#cards {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 80px 0;

    div.card {
        width: 320px;
        height: 285px;
        margin: 20px;
        background-color: #ededed;
        border-radius: 4px;
        overflow: hidden;
        cursor: default;
        box-shadow: 0 0 2px gray;

        h2 {
            font-size: 1.55em;
            font-weight: 700;
            color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 160px;
            transition: height 0.3s;

            b {
                font-weight: 300;
            }
        }

        //&.in-progress h2 {
        //    background-color: #FFC799;
        //}

        &:hover h2 {
            height: 130px;
        }

        div.content {
            margin: 26px 25px 12px 25px;
            text-align: left;
            height: 88px;
            display: flex;
            flex-direction: column;

            small {
                color: #606060;
                font-size: 0.6em;
                line-height: 1.2em;
            }

            h3 {
                font-size: 0.92em;
                font-weight: 700;
                text-align: left;
                flex: 1;
            }

            p {
                font-size: 0.7em;
                font-weight: 300;
            }
        }

        p.links {
            text-align: left;
            margin: 0 0 0 25px;

            font-weight: 600;
            font-size: 0.55em;

            a {
                display: inline-block;
                text-decoration: none;
                background-color: #303030;
                color: white;
                padding: 3px 9px 1px 9px;
                margin-right: 3px;
                cursor: pointer;
            }
        }

    }
}

div.about {
    padding: 30px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.grey {
        background-color: #ededed;
    }

    &.row {
        flex-direction: row-reverse;
        h1 {
            text-align: left;
            max-width: 380px;
        }
    }
}

div#samples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 10px 0;
    margin: 120px 10px 60px 10px;

    div.sample {
        text-align: left;
        flex: 1;
        min-width: 450px;
        margin: 5px;
        background-color: #ededed;
        border-radius: 2px;
        box-shadow: 0 0 2px gray;
        padding: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            color: #EF822B;
            font-size: 1.55em;
            font-weight: 400;
            width: 100%;
            margin-bottom: 10px;

            b {
                font-weight: 300;
            }
        }

        p {
            font-weight: 300;
            font-size: 0.8em;
            margin-bottom: 20px;
        }

        pre {
            flex: 1;
            background-color: white;
            border-radius: 5px;
            border: solid #cccccc 1px;
            flex-direction: column;

            code {
                background-color: white;
                margin: 15px;
            }
        }

        .choices {
            display: flex;
            flex-direction: column;
            flex: 1 auto;

            .choice {
                display: flex;
                flex-direction: column;
                flex: 1 auto;
            }
        }

        div.links {
            margin: 20px 2px;
            a {
                border: solid #EF822B 2px;
                display: inline-block;
                padding: 6px 15px 4px 15px;
                border-radius: 6px;
                color: #EF822B;
                text-decoration: none;
                font-size: 0.6em;
                font-weight: 600;
                transition: background-color 0.2s, color 0.2s;

                &:hover {
                    background-color: #EF822B;
                    color: white;
                }
            }
        }

        .tabs {
            display: flex;
            flex-direction: row;
            margin-left: 1em;

            h3 {
                font-weight: 500;
                font-size: 0.7em;
                //margin-right: 1em;
                margin-bottom: -1px;
                z-index: 1;
                padding: 0.5em 0.9em 0.2em 0.9em;
                border-radius: 5px 5px 0 0;
                cursor: pointer;
                border: solid transparent 1px;
                border-bottom: 0;

                &.selected {
                    border: solid #cccccc 1px;
                    border-bottom: 0;
                    background-color: white;
                }
            }
        }
    }
}

div#footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #921f81;
    background: linear-gradient(135deg, #e8441f 0%,#921f81 100%);
    height: 350px;
    width: 100%;
    max-width: $max-width;
    overflow: hidden;

    div.logo {
        margin-top: 40px;
    }

    h3 {
        font-weight: 200;
        color: white;
        position: absolute;
        top: 1.5em;
    }

    &.small {
        div.logo {
            margin: 45px -650px 0 0;

            img.logo-img {
                height: 1.2em;
                width: 1.5em;
                margin-top: -10px;
            }

            h1 {
                font-size: 1.3em;
            }

            h2 {
                opacity: 0;
                pointer-events: none;
            }
        }

    }

}

span#footer-shadow {
    display: block;
    height: 350px;
}

@media (max-width: 850px) {
    body {
        font-size: 1.1em;
    }

    div#menu {
        display: none !important;
    }

    div#header.small div.logo, div#footer.small div.logo {
        margin: 46px 0 0 0;
    }
    //div#header.small h1 {
    //    margin: 18px 0 0 0;
    //}

}

@media (max-width: 450px) {
    div#strip {
        display: none !important;
    }
    body {
        background-color: $green;
    }
    body::after {
        display: block;
        padding-top: 30%;
        content: "Viewport to small!!";
        color: white;
        font-size: 3em;
        text-align: center;
    }
}