@import url(picon/LCTPicon.css);
@import url(fira-code/fira_code.css);
@import url(highlight/styles/foundation.css);
* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Picon", sans-serif;
  font-size: 1.25em;
}

h1 {
  font-weight: 700;
  font-size: 1.9em;
  margin: 40px;
}
h1.light {
  font-weight: 200;
}
h1.light b {
  font-weight: 400;
}
h1.low {
  margin-top: 80px;
}
h1.color {
  color: #46AF6D;
}

a {
  text-decoration: none;
}

pre code {
  font-family: "Fira Code", monospace;
  font-feature-settings: "calt" 1;
  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility;
  /* Force ligatures for Webkit, Blink, Gecko */
  font-size: 0.7em;
}

.hljs {
  background-color: white;
}

.transition {
  transition: all 0.3s;
}

div#strip {
  background: white;
  max-width: 1400;
  min-height: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 2px 0 gray;
}

div.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.logo img.logo-img {
  display: block;
  height: 5.55em;
  width: 5.5em;
  padding-bottom: 1.88em;
}
div.logo h1 {
  font-weight: 700;
  font-size: 2.98em;
  margin: -20px 0 0;
  text-align: left;
}
div.logo h1 span {
  font-weight: 300;
}
div.logo h1 a {
  color: white;
  text-decoration: none;
}
div.logo h2 {
  font-weight: 300;
  color: white;
  font-size: 1.38em;
  margin-top: -0.45em;
  text-align: left;
  padding-left: 2px;
}
div.logo h2 img {
  width: 0.65em;
  height: 0.65em;
}

div#header {
  height: 585px;
  background-color: #46AF6D;
  background-image: url("imgs/header-background.svg");
  background-size: 1040px;
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1400;
  top: 0;
  overflow: hidden;
  cursor: default;
  box-shadow: 0 0 3px 0 gray;
  clip-path: inset(0px 0px -5px 0);
}
div#header div#menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 28px;
  font-size: 0.7em;
}
div#header div#menu a {
  display: block;
  font-weight: 700;
  padding: 14px 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
}
div#header div#menu a:hover {
  background-color: #FFFFFF44;
}
div#header.small div.logo {
  margin: 50px 430px 0 0;
}
div#header.small div.logo img.logo-img {
  height: 1.7em;
  width: 2em;
  margin-top: -12px;
}
div#header.small div.logo h1 {
  font-size: 1.8em;
}
div#header.small div.logo h2 {
  opacity: 0;
  pointer-events: none;
}
div#header #platforms {
  position: absolute;
  bottom: 3em;
  display: flex;
  flex-direction: row;
}
div#header #platforms h3 {
  font-weight: 600;
  background-color: #ededed;
  font-size: 0.6em;
  margin: 0.2em;
  width: 13em;
  border-radius: 0.5em;
  padding: 0.7em 0;
}

span#header-shadow {
  display: block;
  height: 620px;
}

p.description {
  font-weight: 300;
  margin: 20px 10px 60px 10px;
}

p.main-links a {
  border: solid #EF822B 2px;
  display: inline-block;
  padding: 9px 22px 6px 22px;
  border-radius: 6px;
  color: #EF822B;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  transition: background-color 0.2s, color 0.2s;
}
p.main-links a:hover {
  background-color: #EF822B;
  color: white;
}

div#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 80px 0;
}
div#cards div.card {
  width: 320px;
  height: 285px;
  margin: 20px;
  background-color: #ededed;
  border-radius: 4px;
  overflow: hidden;
  cursor: default;
  box-shadow: 0 0 2px gray;
}
div#cards div.card h2 {
  font-size: 1.55em;
  font-weight: 700;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  transition: height 0.3s;
}
div#cards div.card h2 b {
  font-weight: 300;
}
div#cards div.card:hover h2 {
  height: 130px;
}
div#cards div.card div.content {
  margin: 26px 25px 12px 25px;
  text-align: left;
  height: 88px;
  display: flex;
  flex-direction: column;
}
div#cards div.card div.content small {
  color: #606060;
  font-size: 0.6em;
  line-height: 1.2em;
}
div#cards div.card div.content h3 {
  font-size: 0.92em;
  font-weight: 700;
  text-align: left;
  flex: 1;
}
div#cards div.card div.content p {
  font-size: 0.7em;
  font-weight: 300;
}
div#cards div.card p.links {
  text-align: left;
  margin: 0 0 0 25px;
  font-weight: 600;
  font-size: 0.55em;
}
div#cards div.card p.links a {
  display: inline-block;
  text-decoration: none;
  background-color: #303030;
  color: white;
  padding: 3px 9px 1px 9px;
  margin-right: 3px;
  cursor: pointer;
}

div.about {
  padding: 30px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.about.grey {
  background-color: #ededed;
}
div.about.row {
  flex-direction: row-reverse;
}
div.about.row h1 {
  text-align: left;
  max-width: 380px;
}

div#samples {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 10px 0;
  margin: 120px 10px 60px 10px;
}
div#samples div.sample {
  text-align: left;
  flex: 1;
  min-width: 450px;
  margin: 5px;
  background-color: #ededed;
  border-radius: 2px;
  box-shadow: 0 0 2px gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
div#samples div.sample h2 {
  color: #EF822B;
  font-size: 1.55em;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
}
div#samples div.sample h2 b {
  font-weight: 300;
}
div#samples div.sample p {
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 20px;
}
div#samples div.sample pre {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  border: solid #cccccc 1px;
  flex-direction: column;
}
div#samples div.sample pre code {
  background-color: white;
  margin: 15px;
}
div#samples div.sample .choices {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}
div#samples div.sample .choices .choice {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}
div#samples div.sample div.links {
  margin: 20px 2px;
}
div#samples div.sample div.links a {
  border: solid #EF822B 2px;
  display: inline-block;
  padding: 6px 15px 4px 15px;
  border-radius: 6px;
  color: #EF822B;
  text-decoration: none;
  font-size: 0.6em;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
}
div#samples div.sample div.links a:hover {
  background-color: #EF822B;
  color: white;
}
div#samples div.sample .tabs {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
div#samples div.sample .tabs h3 {
  font-weight: 500;
  font-size: 0.7em;
  margin-bottom: -1px;
  z-index: 1;
  padding: 0.5em 0.9em 0.2em 0.9em;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border: solid transparent 1px;
  border-bottom: 0;
}
div#samples div.sample .tabs h3.selected {
  border: solid #cccccc 1px;
  border-bottom: 0;
  background-color: white;
}

div#footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #921f81;
  background: linear-gradient(135deg, #e8441f 0%, #921f81 100%);
  height: 350px;
  width: 100%;
  max-width: 1400;
  overflow: hidden;
}
div#footer div.logo {
  margin-top: 40px;
}
div#footer h3 {
  font-weight: 200;
  color: white;
  position: absolute;
  top: 1.5em;
}
div#footer.small div.logo {
  margin: 45px -650px 0 0;
}
div#footer.small div.logo img.logo-img {
  height: 1.2em;
  width: 1.5em;
  margin-top: -10px;
}
div#footer.small div.logo h1 {
  font-size: 1.3em;
}
div#footer.small div.logo h2 {
  opacity: 0;
  pointer-events: none;
}

span#footer-shadow {
  display: block;
  height: 350px;
}

@media (max-width: 850px) {
  body {
    font-size: 1.1em;
  }

  div#menu {
    display: none !important;
  }

  div#header.small div.logo, div#footer.small div.logo {
    margin: 46px 0 0 0;
  }
}
@media (max-width: 450px) {
  div#strip {
    display: none !important;
  }

  body {
    background-color: #46AF6D;
  }

  body::after {
    display: block;
    padding-top: 30%;
    content: "Viewport to small!!";
    color: white;
    font-size: 3em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
